
@size-ingredient-image: 75px;
.ingredient-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    &__ingredient{
        display: flex;
        list-style: none;
        margin: 30px;
        font-size: 18px;
        &-text-info{
            margin-left: 20px;
        }
        &_image{
            width: @size-ingredient-image;
            height: @size-ingredient-image;
        }
    }
}
.tab-content{
    border: 1px solid #ddd;
    border-top-color: transparent;
}
.button-add-inrgedient{
    margin-left: 10px;
    
}
.button-reduce-inrgedient, .button-add-inrgedient{
    font-size: 25px;
}
.pizza-constructor{
    display: flex;
    align-self: flex-start;
    &__container{
        width: 900px;
    }
}